<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register for Andrew's Tiny App</title>
  </head>
  <body>
  <% include ./partials/_header.ejs %>
  <div class="container-register">
    <form class="" action="/register" method="post">
      <input type="email" name="email" style="width: 60%">
      <input type="password" name="password"  style="width: 60%">
      <button type="submit" class="register-button">Submit</button>
    </form>
  </div>
  </body>
</html>
