<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">

  <% include ./partials/_header.ejs %>
  <% if (user_id) { %>
    <div class="container-new-url">
      <form action="/urls/create" method="POST" style="margin:150px;">
        <input type="text" name="longURL" placeholder="http://">
        <button type="submit" name="submit" class="button">Create</button>
      </form>
    </div>
  <% } else { %>
    <div class="container-delete-message">
        <h1>YOU HAVE TO BE LOGGED IN TO CREATE A NEW SHORT URL JACKASS!</h1>
    </div>
  <% } %>
  </body>
</html>
